<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 여기서 작성된 xml코드는 namespace와 연결이 된다. -->
<mapper namespace="com.ysh.studySpring.mapper.TimeMapper"> <!-- 연결할 경로를 알려주어야 한다 -->
<select id="getRime2" resultType="string"> <!-- java interface의 사용할 메소드의 이름과 동일하게 만든다 -->
	SELECT SYSDATA FROM DUAL
</select> 
</mapper>